* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

/* Define variáveis CSS globais (custom properties) */

:root{
    --color-neutral-black:#263238;
    --color-neutral-d_grey:#4D4D4D;
    --color-neutral-grey:#717171;
    --color-neutral-i_grey:#89939E;
    --color-neutral-grey-blue:#ABBED1;
    --color-neutral-silver:#F5F7FA;
    --color-neutral-white:#FFFFFF;

    --color-primary-primary:#4CAF4F;
    --color-secondary-secondary:#263238;
    --color-info-info:#2194f3;

    --color-color_shade-shade_1:#43A046;
    --color-color_shade-shade_2:#388E3B;
    --color-color_shade-shade_3:#237D31;
    --color-color_shade-shade_4:#1B5E1F;
    --color-color_shade-shade_5:#103E13;

    --color-color_tint-tint_1:#66BB69;
    --color-color_tint-tint_2:#81C784;
    --color-color_tint-tint_3:#A5D6A7;
    --color-color_tint-tint_4:#C8E6C9;
    --color-color_tint-tint_5:#E8F5E9;

    --color-color_action-warning: #FBC02D;
    --color-color_action-error: #E53835;
    --color-color_action-success:#2E7D31;


    /* Configurações de Fontes */
    --font-family: "inter";
    --font-headline-1-size: 64px;
    --font-headline-2-size: 36px;
    --font-headline-2-weight: 600px;
    --font-headline-4-size: 20px;
    --font-body2-weight-regular: 400;
    --font-body3-size: 14px;


}

a{
    text-decoration: none;
}

