@import url('./global.css');


/* header */
header{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0px;
    background-color: var(--color-neutral-silver);
}

.logo-header img{
    width: 154px;
    height: 24px;

}

.nav-header ul{
    list-style: none; /* tira as bolinhas da lista */
    display: flex; /* para deixar os itens lado a lado */
    gap: 50px; /* separar os itens */

}

.nav-header ul li a{
    color: var(--color-neutral-black);
    font-weight: var(--font-body2-weight-regular);
    transition: 0.3s;
}

.nav-header ul li a:hover{
    color: var(--color-primary-primary);
    text-decoration: underline;
}

.container-btn-header button{
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}
.container-btn-header .btn-login{
    background-color: var(--color-neutral-silver);
}

.container-btn-header .btn-login a{
    color: var(--color-primary-primary);
}

.container-btn-header .btn-sign-up {
    background-color: var(--color-primary-primary);
}

.container-btn-header .btn-sign-up a {
    color: var(--color-neutral-white);
}
/* fim da header */


/* main */
main{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 104px;
    padding: 96px 0px;
    background-color: var(--color-neutral-silver);
}

.content-hero{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 657px;
}

.content-hero h1{
    font-size: var(--font-headline-1-size);
    color: var(--color-neutral-d_grey);
}
.content-hero span{
    color: var(--color-primary-primary);
}

/* fim da main */

/* our clients */
.our-clients{
    display:flex;
    flex-direction:column;
    gap: 16px;
    text-align: center;
    margin: 40px 0px;
}

.content-our-clients{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.container-logo-clients{
    display:flex;
    gap: 136px;
    padding: 25px 0px;
    justify-content: center;
}


/* fim our clients */

/* manage ur entire community */


.manage-system{
    display:flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
    gap: 16px;
}

.content-manage-system{
    display:flex;
    flex-direction: column;
    gap: 8px;
}

.content-manage-system h2{
    font-family: var(--font-family);
    width: 542px;

}

.cards-container{
    display: flex;
    justify-content: column;
    gap: 127.5px;
}


.cards-container article{
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 299px;
    padding: 24px 24px;
    box-shadow: 0 2px 4px rgba(174, 172, 172, 0, 0.53);
}

.cards-container article:hover{
    box-shadow: 0 2px 4px rgba(83, 83, 83, 0.53);
    transform: translateY(-8px);
}

.cards-container article h3{
    font-size: var(--font-headline-3-size);
    color: var(--color-neutral-d_grey);
}

/* FIM manage ur entire community */


/* pellentesque */

.pellentesque{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-neutral-silver);
    gap: 32px;
    padding: 32px 0px;
    margin-top: 94.6px;
}

.pellentesque h2{
    text-align: center;
    font-size: var(--font-headline-1-size);
    width: 722px;

}

.pellentesque a{
    display: flex;
    align-self: center;
    gap: 8px;
    text-decoration: none;
    color: var(--color-neutral-white);
}

/* fim pellentesque */

